<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalogo de Productos</title>
</head>
<body>
    <h1>Catalogo de Productos</h1>

    <a href="/cp">Productos</a> 
    <a href="/cu">Usuarios</a> 
    <a href="/cc">Clientes</a>

    <table border="1">
        <tr><th>Codigo del Producto</th><th>Nombre del Producto</th><th>Precio del Producto</th></tr>
        {% for producto in productos %}
        <tr><td>{{ producto[0] }} </td> <td>{{ producto[1] }} </td> <td> ${{ producto[2] }}</td></tr>
        {% endfor %}
    </table>

</body>
</html>