<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Catalogo de Usuarios</h1>

    <a href="/cp">Productos</a> 
    <a href="/cu">Usuarios</a> 
    <a href="/cc">Clientes</a>

    <table border="1">
        <tr><th>Numero de Identificacion</th><th>Nombre de Usuario</th><th>Primer Apellido</th><th>Segundo Apellido</th><th>Contraseña</th></tr>
        {% for usuario in usuarios %}
        <tr><td>{{ usuario[0] }} </td> <td>{{ usuario[1] }} </td> <td> {{ usuario[2] }}</td> <td> {{ usuario[3] }}</td> <td> {{ usuario[4] }}</td></tr>
        {% endfor %}
    </table>
    
</body>
</html>