<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Clientes</title>
</head>
<body>
    <h1>Catalogo de Clientes</h1>

    <a href="/cp">Productos</a> 
    <a href="/cu">Usuarios</a> 
    <a href="/cc">Clientes</a>

    <table border="1">
        <tr><th>Numero de Identificacion</th><th>Nombre de Cliente</th><th>Apellido</th><th>Email?</th></tr>
        {% for cliente in clientes %}
        <tr><td>{{ cliente[0] }} </td> <td>{{ cliente[1] }} </td> <td> {{ cliente[2] }}</td> <td>{{ cliente[3] }} </td></tr>
        {% endfor %}
    </table>
    
</body>
</html>