<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>   
    <h1> Bienvenido al punto de venta </h1>

    <form action="/submit" method="post">
    USUARIO <input type="text" name="" id="" value="fulanito" required ><br>
    password <input type="password" name="" id="" value="123" required>
    <input type="submit" value="login"></body></form>
</body>
</html>